.hgtmh-roll-button{
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	background: url('/icons/svg/d20-grey.svg') no-repeat;
	background-size: cover;
}
.hgtmh-roll-button:hover{
	background: url('/icons/svg/d20-highlight.svg');
}

.hgtmh-rolled-button{
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
}

.hgtmh-30-square{
	width:30px;
	height:30px;
}

.hgtmh-harvest-roller{
	text-align: right;
	width: 30px;
}

.hgtmh-roller-name{
	width: 30%;
	height:30px;
    text-align: right;
	padding-right:5px;
}

.hgtmh-harvest-player-img{
	width:100%;
	height:auto;
	display: inline;
	float:right;
}
